
.navBar{
    display: inline-block;
    position : absolute;
    left : 0vw;
    right : 0vw;
    top:7vh;
    height: 5vh;
    width : 50vw;
    text-align: center;
    margin: auto;
}

.algos{
    position : absolute;
    top : 15vh;
    right : 0vw;
    left : 0;
    margin : auto;
    text-align: center;
}

.navBarItem{
    display: inline-block;
    margin: 0vh 0.75vw;
}

.algorithms {
    display: inline-block;
    position : absolute;
    left : 30vw;
    top:10vh;
    height: 5vh;
    width : 40vw;
    text-align: center;
}

.algorithmsContent{
    position: absolute;
}

.algoButton{
    margin : 1vh 1vw;
    display: inline-block;
}

.algoContent{
    position: absolute;
    left : 0vw;
    right : 0vw;
    top:35vh;
    text-align: center;
    margin: auto;
}

.column{
    display: inline-block;
    width: 0.2712vw;
} 

.search{
    position : absolute;
    left : 0vw;
    right : 0vw;
    bottom:25vh;
    text-align: center;
    margin: auto;
}

.restart{
    position : absolute;
    right : 30vw;
    top:25vh;
    text-align: center;
    margin: auto;
}

.addNode{
    position : absolute;
    left : 0vw;
    right : 0vw;
    bottom:10vh;
    text-align: center;
    margin: auto;
}

.deleteNode{
    height: 1vh;
    width : 0.5vw;
}

.letters{
    display: inline-block;
}

.string{
    position: absolute;
    text-align: center;
    bottom:50vh;
    left : 20vw;
    right : 20vw;
    font-family:"Montserrat", sans-serif;
    font-weight: lighter;
}

.addTreeNode{
    position : absolute;
    left : 0vw;
    right : 0vw;
    bottom:5vh;
    text-align: center;
    margin: auto;
}

.intro{
    position: absolute;
    left: 20vw;
    top: 20vh;
    height: 70vh;
    width:60vw;
    font-family:"Montserrat", sans-serif;
    font-weight: lighter;
    letter-spacing: 0.04vw;
}

.tree{
    position: absolute;
    left: 20vw;
    top: 20vh;
    height: 70vh;
    width:60vw;
}
